<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-5">
            <form (ngSubmit)="registrar(forma)" #forma="ngForm" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-4">
                        <p class="text-info font-weight-bold">Nombre</p>
                        <input name="nombre" class="form-control" ngModel required>
                    </div>
                    <div class="col-4">
                        <p class="text-info font-weight-bold">Edad</p>
                        <input name="edad" class="form-control" type="number" value="" ngModel required>
                    </div>
                    <div class="col-4">
                        <p class="text-info font-weight-bold">Sexo</p>
                        <select name="sexo" class="form-control" required ngModel>
                          <option value="Hombre">Hombre</option>
                          <option value="Mujer">Mujer</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-info font-weight-bold">Cargar archivo</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cargar</span>
                            </div>
                            <div class="custom-file">
                                <input name="documento" type="file" class="custom-file-input" id="inputGroupFile01" ngModel>
                                <label class="custom-file-label" for="inputGroupFile01">archivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="text-info font-weight-bold">&nbsp;</p>
                        <button type="button" class="btn btn-success btn-block" (click)="registrar(forma)">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <p class="text-info font-weight-bold">Datos</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Documento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of arrayUsuario">
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.edad}}</td>
                        <td>{{persona.sexo}}</td>
                        <td>{{persona.documento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>